main {
  background-image: url(https://static.vecteezy.com/system/resources/previews/006/895/305/non_2x/abstract-gradient-background-with-green-and-blue-colors-gradient-backgrounds-for-wallpapers-posters-flyers-banners-flyers-and-more-free-vector.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
}

.login {
  display: flex;
  justify-content: center;  
  padding: 100px;
}

.container1>img{
  height: 550px;
}

.icon-login {
  display:block;
  margin: 50px 50px;
  font-size: 200px;
  width: 200px;
  height: 200px;

}

.container2 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 550px;
  padding: 0 1.5%;
  background-color: greenyellow;
}

mat-form-field{
  width: 100%;
}

.container-buttons-login{
  display: flex;
  padding: 0%;
  margin: 0%;
}

.container-buttons-login > button{
  width: 40%;
}

.links-container-login, p{
  font-size: small;
  width: 100%;
  height: 100%;
  padding: 0%;
  margin:0;
}








  