main {
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/895/305/non_2x/abstract-gradient-background-with-green-and-blue-colors-gradient-backgrounds-for-wallpapers-posters-flyers-banners-flyers-and-more-free-vector.jpg);
    background-size: cover;
    height: auto;
    width: auto;
}

.signup {
    display: flex;
    justify-content: center;
    padding: 100px;
    height: auto;
    width: auto;
}

.icon-login {
    margin: 50px 50px;
    font-size: 200px;
    width: auto;
    height: auto;
}

.container {
    width: 80%;
    height: auto;
    padding: 0 1.5%;
    background-color: greenyellow;
}

.container-field {
    height: auto;
    width: auto;
}

mat-form-field {
    width: 30%;
    margin: 10px;
}

.container > button {
    width: auto;
    margin: 10px;
}

.row1, .row2, .row3, .row4 {
    display: flex;
}

